-require 'lib/common'
%br

/ Calendar Mont-year tab
%table{ :width => '600', :height => '54', :borde => '0', :cellspacing => '0'}
    %tr{ :background => '/images/Calendario_tab.jpg'}
        %td{:width => '340'} &nbsp;
        %td.calendar_tab{:width => '240', :align => 'center', :valign => 'middle'}= @calendar_tab
        %td{:width => '20' } &nbsp;
        
        
/Calendar days header
%table{ :width => '600', :height => '43', :borde => '0', :cellspacing => '0'}
    %tr{ :background => '/images/Calendario_days.jpg'}
        %td &nbsp;

/Calendar body
%table{ :width => '600', :border => '0', :cellspacing => '0', :cellpadding => '0'}

    /weeks
    -(1..36).step(7).each{|w|
    %tr
        %td{:background => '/images/Calendario_left_res.jpg', :width => '20'}
        
        -(w..w+6).each{|dm|
        %td{:width => '80', :bgcolor => '#666666'}
            %table{:width => '80', :border => '0', :cellspacing => '1', :cellpadding => '0'}
                %tr
                    %td{:bgcolor => '#B9CED0' }
                        %table{:width => '76', :border => '0', :cellspacing => '0', :cellpadding => '0'}
                            %tr{:height => '9'}
                                %td.calendar_day{:width => '72'}= Common.calendar_day(dm,@year,@month_num) || raw("&nbsp;")
                            -@res_month.each{|rm|
                            %tr{:height => '6'}
                                %td{:width => '72', :bgcolor => (@cal_res[dm][rm[:resource_id]] if @cal_res[dm]) }
                            - }
        - }
        
        %td{:background => '/images/Calendario_rigth_res.jpg', :width => '20'} 
    - }

/Calendar buttom
%table{ :width => '600', :height => '21', :border => '0', :cellspacing => '0'}
    %tr{ :background => '/images/Calendario_buttom.jpg'}
        %td &nbsp;

%br