%table{:id => 'header', :width => '950', :borde => '0', :cellspacing => '0'}
  %tr{:background => "/images/header_inb.gif"}
    %td{:height => '114'} &nbsp;
  %tr{:background => "/images/blue_line.gif"}
    %td{:height => '29'} &nbsp;
  %tr{:background => "/images/header_title.gif"}
    %td{:height => '43'} &nbsp;